<section class="page-section text-center">
    <div class="container">
        <h2 class="mb-5">Calendario</h2>
        <div class="row">
        <div class="col-12 content-wrapper">
            <div class="embed-responsive embed-responsive-16by9">
            <iframe src="gcal.html" frameborder="0" scrolling="no" class="embed-responsive-item" style="border:0"></iframe>
            </div> 
            <span class="view-more">
            <a href="https://calendar.google.com/calendar/ical/compostelatech.org_nfp71mi362ku9p3t8su7b199nc%40group.calendar.google.com" class="btn btn-white">
                Preme aquí para acceder no formato iCal
            </a>
            </span>
        </div>
        </div>
    </div>
</section>
