<section class="coloured_section coloured_section_light_grey text-center">
      <div class="container">
              
              <h2 class="mb-5">¡Celebramos el Compostela Tech Open Space 2019!</h2>
              <div class="row">
                <div class="col-lg-8 offset-lg-2 compostelatech-text">
                  <div class="compostelatech-item mx-auto text-left">
                    <img style="max-width: 350px;margin: 0px auto; display: block;" src="{{ site.url }}/img/open-space-2019/compostela-tech-open-space-logo-dark-blue-stamp.png"/>
                    <p>Un Open Space es una debate dirigido por los propios asistentes. No hay agenda prefijada, cualquier persona puede proponer temas de debate, que luego se elegirán entre todos de forma democrática</b>.</p>
                    <p>Celebramos nuestra primera edición el sábado 6 de julio, de 10 a 14h en la Ciudad de la Cultutra.
                    <p class="text-center"><a href="{{ site.url }}/open-space-2019/"><button class="btn btn-blue btn-big">Compostela Tech Open Space 2019</button></a></p>
                  </div>
                </div>
              </div>
            </div>
    </section>    