<section class="coloured_section coloured_section_white text-center">
      <div class="container">
              
              <h2 class="mb-5">¡Celebramos o Compostela Tech Open Space 2019!</h2>
              <div class="row">
                <div class="col-lg-8 offset-lg-2 compostelatech-text">
                  <div class="compostelatech-item mx-auto text-left">
                    <a href="{{ site.url }}/open-space-gl-2019/"><img style="max-width: 350px;margin: 0px auto; display: block;" src="{{ site.url }}/img/open-space-2019/compostela-tech-open-space-logo-dark-blue-stamp.png"/></a>
                    <p>Un Open Space é un debate dirixido polos propios asistentes. Non teremos axenda prefixada, 
                      calquera persoa pode propoñer temas de debate, despois serán elexidos entre todos dunha forma democrática</b>.</p>
                    <p>Celebramos a nosa primeira edición o sábado 6 de xullo, de 10 a 14h na Cidade da Cultura.
                    <p class="text-center"><a href="{{ site.url }}/open-space-gl-2019/"><button class="btn btn-blue btn-big">Compostela Tech Open Space 2019</button></a></p>
                  </div>
                </div>
              </div>
            </div>
    </section>  