<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Síguenos!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <a class="twitter-timeline" data-height="300" data-dnt="true" data-theme="dark" 
            href="https://twitter.com/CompostelaTech?ref_src=twsrc%5Etfw">CompostelaTech</a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </div>
      </div>
    </div>
  </section>



  <section class="joinus">
    <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-md-4 text-center">
            <img src="img/logo03_full_land_logo-blue-letter-b-blue_back-trans.png" style="width: 220px;" />
        </div>
          <div class="col-md-8">
            <div class="row">
                <div class="col-md-3 text-center" >
                  <a href="#"><img src="img/logo_slack.png" class="logo-slack" /></a>
                </div>
                <div class="col-md-9">
                  <a href="#">
                    <h4>Únete o noso canal de slack</h4>
                    <span class="fs-24-w-100">😃 Chat 👋 Network  🚀 Grow</span>
                  </a>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-12 fs-24-w-100 " >
                  Contacto directo cos organizadores de comunidades, xente cos mesmos intereses. Ánimate a participa con nós, comunidade medra contigo.
                </div>                
            </div>
            <div class="row pt-3 ">
              <div class="col-md-4">
                <div style="height: 5px;background-color: #DE4A37;margin:0 0 0 5;"></div>
              </div>
              <div class="col-md-4">
                <div style="height: 5px;background-color: #F0D242;margin:0 0 0 5;"></div>
              </div>
              <div class="col-md-4">
                <div style="height: 5px;background-color: #4999DD;margin:0 0 0 5;"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>