<!DOCTYPE html>
<html lang="es_ES">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CompostelaTech Open Space es un evento de debate en el que los participantes deciden sobre qué temas se van a hablar">
    <meta name="keywords" content="{{ site.seo_keywords }}">
    <meta name="author" content="{{ site.author.name }}">

    <title>CompostelaTech Open Space 2019</title>
    <link rel="canonical" href="{{ site.url }}" />

    <!-- Social Metas -->
    <meta property="og:title" content="CompostelaTech Open Space 2019">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.icon | prepend: site.url }}">
    <meta property="og:description" content="CompostelaTech Open Space es un evento de debate en el que los participantes deciden sobre qué temas se van a hablar">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:locale" content="es_ES">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.author.twitter }}">
  <meta name="twitter:creator" content="@{{ site.author.twitter }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="CompostelaTech Open Space es un evento de debate en el que los participantes deciden sobre qué temas se van a hablar">
    <meta name="twitter:image" content="{{ site.icon | prepend: site.url }}">
    <meta name="twitter:url" content="{{ site.url  }}">
    
    
    <meta name="robots" content="{{ page.robots }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ site.url }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="{{ site.url }}/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ site.url }}/css/landing-page.css" rel="stylesheet">

     <!-- Icons -->
    <link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="i{{ site.url }}/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/img/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.url }}/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140034206-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140034206-1');
    </script>

  </head>

  <body>

    <!-- Masthead -->
    <header class="masthead openspace2019 text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
              <img class="logo-home" alt="Compostela Tech Open Spaces 2019" style="" src="{{ site.url }}/img/open-space-2019/compostela-tech-open-space-logo-azul-blanco.png" />
          </div>
          <div class="col-xl-9 mx-auto">
            <h1>Compostela Tech<br/>Open Space 2019</h1>
            <p class="mb-5"><b>Sábado 6 de xullo, 10 - 14h<br/> Cidade da Cultura, Santiago de Compostela</b></p>
          </div>
          <div class="col-xl-9 mx-auto">
              <a href="#descripcion"><button class="btn btn-blue">¿Que &eacute; un CompostelaTECH Open Space?</button></a>
          </div>
        </div>
        <!--<div class="row" style="visibility: hidden">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">CompostelaTECH</h1>
          </div>
        </div>-->
        
      </div>
    </header>
    <a name="descripcion"></a>
    <section class="coloured_section coloured_section_light_grey text-center">
      <div class="container">
              
              <h2 class="mb-5">¿Que &eacute; CompostelaTECH Open Space?</h2>
              <div class="row">
                <div class="col-lg-8 offset-lg-2 compostelatech-text">
                  <div class="compostelatech-item mx-auto text-left">
                    <p>Un Open Space &eacute; un debate dirixido polos propios asistentes. Non hai axenda prefixada.</p>
                    <p><b>Calquera persoa pode propo&ntilde;er temas de debate, que logo se elexir&aacute;n entre todos de forma democr&aacute;tica</b>.</p>
                    <p class="text-center"><small>Leer mais sobre o tema: <a target="_blank" href="https://proyectosagiles.org/2012/05/15/que-es-open-space/">¿Qué es un Open Space? </a></small></p>
                  </div>
                </div>
              </div>
            </div>
    </section>    
    
    <section class="coloured_section coloured_section_white text-center">  
        <div class="container">
          <h2 class="mb-5">¿Cómo funciona e como podo participar?</h2>
          <div class="row">
            <div class="col-lg-8 offset-lg-2 compostelatech-teft">
              <div class="compostelatech-item mx-auto text-left">
              
                  <!--<p>La idea principal es fomentar un debate abierto entre todos los asistentes, así que simplemente asistiendo podrás proponer temas de debate. Posteriormente, mediante una votación, entre todos decidiremos qué temas se discuten, y se realizarán una serie de charlas en círculos con los temas más votados. De nuevo, todos los asistentes podrán aportar sus ideas, conocimientos y experiencias. </p>-->
                  <p>A idea principal &eacute; fomentar un debate aberto entre todos os asistentes</p>
                  <p>O evento realizarase do seguinte xeito:</p>
                  <ol>
                    <li><b>Introducción</b>: vos contaremos cómo se vai desenvolver o evento.</li>
                    <li><b>Treboada de ideas</b>: abriremos un turno para que digades os temas dos que queredes falar e os apuntaremos.</li>
                    <li><b>Elección de temas</b> entre todos votaremos eses temas e se elexir&aacute;n os gan&ntilde;dores.</li>
                    <li><b>A falar!</b>: faremos unha charla por cada tema ganador, de 10-15 minutos de duración.</li>
                    <li><b>Final</b>: cando terminen as charlas faremos un pequeño networking.</li>
                  </ol>


                  <p>Para participar, <b>só tes que <a href="https://www.eventbrite.es/e/registro-compostela-tech-open-space-2019-63076080254">rexistrarte de balde</a> e vir con ganas de debater ideas ;)</b>.</p>
                </div>
                <div class="compostelatech-item mx-auto text-center">
                  <a href="https://www.eventbrite.es/e/registro-compostela-tech-open-space-2019-63076080254"><button class="btn btn-blue btn-big">Re&iacute;xistrate de valde no Compostela Tech Open Space 2019</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>    

    <!--<section class="coloured_section coloured_section_light_grey text-center">  
        <div class="container">
          <h2 class="mb-5">¿A quién se le ha ocurrido esto?</h2>
          <div class="row">
            <div class="col-lg-8 offset-lg-2 compostelatech-text">
              <div class="compostelatech-item mx-auto text-center">
                <p>No. No es idea nuestra. Si quieres aprender más sobre el formato Open Space, puedes visitar:<br/><br/>
         <a href="https://proyectosagiles.org/2012/05/15/que-es-open-space/">¿Qué es un Open Space? </a><br/><br/>
         <a href="https://www.xlsemanal.com/estilo/20170316/trabajo-oficina-funciona-el-open-space.html">¿Funciona el Open Space?</a><br/><br/>
         <a href="https://www.nosday.com/nosos/">NOS Open Space 2018</a></p>
              </div>
            </div>
          </div>
        </div>
    </section>-->

<section class="coloured_section coloured_section_light_grey text-center">  
        <div class="container">
          <h2 class="mb-5">¿Cando e donde se desenvolve o evento?</h2>
          <div class="row">
            <div class="col-lg-8 offset-lg-2 compostelatech-text">
              <!--<div class="col-xl-9 mx-auto">
                  <img style="" src="{{ site.url }}/img/open-space-2019/Galicia_MF_Logo.png">
              </div>-->
              <div class="compostelatech-item mx-auto text-center">
                <p>O evento celebrarase dentro da <a href="https://galicia.makerfaire.com/">Maker Faire Galicia</a>, nas s&uacute;as xornadas abertas ao p&uacute;blico na <b>Cidade da Cultura</b> o día <b>6 de xullo de 2019 de 10 a 14h</b>. O noso evento &eacute; de balde para os visitantes da Maker Faire (a&iacute;nda que hai que abonar a entrada da mesma). Todo o mundo &eacute; benvido.</p>
              </div>
            <div class="col-xl-12 mx-auto">
                <iframe style="max-width: 100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2922.9847682142467!2d-8.529785284600479!3d42.87043407915593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2effcc605fc1cb%3A0xc718ce607c456cea!2sGai%C3%A1s%2C+Cidade+da+Cultura!5e0!3m2!1ses!2ses!4v1561372114830!5m2!1ses!2ses" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>  
            </div>
          </div>
        </div>
    </section>    

    <section class="coloured_section coloured_section_white text-center">  
        <div class="container">
          <h2 class="mb-5">¡Faite coa t&uacute;a entrada!</h2>
          <div class="row">
            <div class="col-lg-8 offset-lg-2 compostelatech-text">
              <div class="compostelatech-item mx-auto text-center">
                <p>S&oacute; tes que rexistrarte, de forma gratu&iacute;ta, a trav&eacute;s da plataforma Evenbrite. Lembra que, igualmente, <b>deberás adquirir a entrada &aacute; Maker Faire</b> na propia entrada da feira: 5€ (menores de 14 anos e maiores de 65, entrada gratis).<p>
                  <br/>
                <a href="https://www.eventbrite.es/e/registro-compostela-tech-open-space-2019-63076080254"><button class="btn btn-blue btn-big">Rexístrate gratis no Compostela Tech Open Space 2019</button></a>
                </p>
              </div>
            </div>
          </div>
        </div>
    </section>  

    <section class="coloured_section coloured_section_light_grey text-center">  
        <div class="container">
          <h2 class="mb-5">Sobre CompostelaTECH</h2>
          <div class="row">
            <div class="col-lg-8 offset-lg-2 compostelatech-text">
              <div class="compostelatech-item mx-auto text-center">
                <p><a href="{{ site.url }}">Compostela Tech</a> &eacute; unha agrupaci&oacute;n de comunidades tecnol&oacute;xicas de Santiago de Compostela, sobre desenvolvemento de software e hardware, legalidade dixital, makers, etc, co simple obxectivo de <b>fomentar a divulgación da tecnoloxía e visibilizar o traballo de profesionais e interesados nestas tem&aacute;ticas</b>.</p>
              </div>
            </div>
          </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              {% comment %}
              <li class="list-inline-item">
                <a href="#">Acerca de</a>
              </li>
              {% endcomment %}
              <!--<li class="list-inline-item">&sdot;</li>-->
              <li class="list-inline-item">
                <a href="mailto:info@compostelatech.org">Contacto</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; CompostelaTech {{ 'now' | date: '%Y'}}.</p>
          </div>
          <div class="col-lg-4 h-100 text-center my-auto">
              <ul class="list-inline mb-2">
                  <li class="list-inline-item">
                    Feito con <i class="fas fa-heart" style="color:crimson;"></i> en SCQ
                  </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">Grazas &aacute;s comunidades de Compostela</p>
          </div>
          <div class="col-lg-4 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              {% if site.footer-links.facebook %}
              <li class="list-inline-item">
                <a title="{{ site.name }} en Facebook" href="https://facebook.com/{{ site.footer-links.facebook }}">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              {% endif %}
              {% if site.footer-links.twitter %}
              <li class="list-inline-item">
                <a title="{{ site.name }} en Twitter" href="https://twitter.com/{{ site.footer-links.twitter}}">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              {% endif %}
              {% if site.footer-links.instagram %}
              <li class="list-inline-item">
                <a title="{{ site.name }} en Instagram" href="https://instagram.com/{{ site.footer-links.instagram  }}">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
              {% endif %}
              {% if site.footer-links.github %}
              <li class="list-inline-item">
                <a title="{{ site.name }} en Github" href="https://github.com/{{ site.footer-links.github }}">
                  <i class="fab fa-github fa-2x fa-fw"></i>
                </a>
              </li>
              {% endif %}
              {% if site.footer-links.youtube %}
              <li class="list-inline-item">
                <a title="{{ site.name }} en Youtube" href="https://www.youtube.com/channel/{{ site.footer-links.youtube}}">
                  <i class="fab fa-youtube fa-2x fa-fw"></i>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ site.url }}/vendor/jquery/jquery.min.js"></script>
    <script src="{{ site.url }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    
  </body>

</html>
