<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.name }}</title>

    <!-- Social Metas -->
    <meta property="og:title" content="{{ site.name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.icon | prepend: site.url }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:locale" content="{{ site.locale }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.author.twitter }}">
  <meta name="twitter:creator" content="@{{ site.author.twitter }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.icon | prepend: site.url }}">
    <meta name="twitter:url" content="{{ site.url  }}">
    <meta name="description" content="{{ site.description }}">
    
    <meta name="robots" content="{{ page.robots }}">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">

     <!-- Icons -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    

  </head>

  <body>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
              <img class="logo-home" style="" src="img/logo-compostelatech-horizontal-blanconegro-negativo-transparente.png" />
          </div>
        </div>
        <!--<div class="row" style="visibility: hidden">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">CompostelaTECH</h1>
          </div>
        </div>-->
        <div class="row next-events-carousel-container">
          <div class="col-md-9 mx-auto">
              <div class="row">
              <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-ride="carousel">
                  <ol class="carousel-indicators">
                    {% assign index = 0 %}
                    {% for evento in site.data.eventos %}
                      {% if index == 0 %}
                        {% assign classActive = 'active' %}
                      {% else %}
                        {% assign classActive = '' %}
                      {% endif %}
                      <li data-target="#carouselExampleIndicators" data-slide-to="{{ index }}" class="{{ classActive }}"></li>

                      {% assign index = i | plus:1 %}
                    {% endfor %}
                  </ol>
                  <div class="carousel-inner" style="max-width: 540px; margin: auto; width: 100vw;">
                    <div class="container-next-event">
                      <div class="next-event-title"><h4><i class="fa fa-calendar-alt"></i> <span>Vindeiro evento</span></h4> </div>                          
                      {% if site.data.eventos == false or site.data.eventos.size == 0 %}
                      <div class="text-center" style="color:black;">
                        <h6>Sen nada programado</h6> 
                      </div>
                      {% endif %}
                      {% assign index = 0 %}
                      {% for evento in site.data.eventos %}
                        {% if index == 0 %}
                          {% assign classActive = 'active' %}
                        {% else %}
                          {% assign classActive = '' %}
                        {% endif %}
                        <div class="carousel-item {{ classActive }}">
                          <div class="next-event-content ">
                              <div class="next-event-logo">
                                <a href="{{ evento.mas_info }}">
                                  <img src="img/{{ evento.logo }}" alt="{{ evento.grupo }}" class="member-logo">
                                </a>
                              </div>
                              <div class="next-event-info">
                                <a href="{{ evento.mas_info }}" target="blank">
                                  <h6>{{ evento.grupo }}</h6> 
                                  <h5>{{ evento.titulo }}</h5> 
                                  <span class="datetime">
                                    <i class="fa fa-calendar-alt"></i> {{ evento.fecha | date: "%d/%m/%Y" }}
                                    {% if evento.hora %}<i class="fa fa-clock"></i> {{ evento.hora }} {% endif %}</span> 
                                    <br/>{% if evento.lugar %} <i class="fa fa-map-marker-alt"></i> {{ evento.lugar }} {% endif %}</span> 
                                  <span class="btn">Máis info</span>
                                </a>
                              </div>
                            </div>
                        </div>

                        {% assign index = i | plus:1 %}
                      {% endfor %}
                      
                      
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Grupos -->    
    {% include grupos.html %}

    <!-- Eventos -->
    
    {% include calendar_events.html %}
    
    <!-- Documentos -->
    {% comment %}
    {% include documentos.html %}
    {% endcomment %}
    

    <!-- Call to Action -->
    {% include section_join_slack.html %}
    

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              {% comment %}
              <li class="list-inline-item">
                <a href="#">Acerca de</a>
              </li>
              {% endcomment %}
              <!--<li class="list-inline-item">&sdot;</li>-->
              <li class="list-inline-item">
                <a href="mailto:info@compostelatech.org">Contacto</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; CompostelaTech {{ 'now' | date: '%Y'}}.</p>
          </div>
          <div class="col-lg-4 h-100 text-center my-auto">
              <ul class="list-inline mb-2">
                  <li class="list-inline-item">
                    Feito con <i class="fas fa-heart" style="color:crimson;"></i> en SCQ
                  </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">Grazas as comunidades de Compostela, a <a href="https://www.diariomotor.com/" target="blank">Diariomotor</a> polo apoio e a foto de <a href="https://unsplash.com/photos/0LU4vO5iFpM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Greg Rakozy</a>.</p>
          </div>
          <div class="col-lg-4 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              {% if site.footer-links.facebook %}
              <li class="list-inline-item">
                <a title="{{ site.name }} en Facebook" href="https://facebook.com/{{ site.footer-links.facebook }}">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              {% endif %}
              {% if site.footer-links.twitter %}
              <li class="list-inline-item">
                <a title="{{ site.name }} en Twitter" href="https://twitter.com/{{ site.footer-links.twitter}}">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              {% endif %}
              {% if site.footer-links.instagram %}
              <li class="list-inline-item">
                <a title="{{ site.name }} en Instagram" href="https://instagram.com/{{ site.footer-links.instagram  }}">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
              {% endif %}
              {% if site.footer-links.github %}
              <li class="list-inline-item">
                <a title="{{ site.name }} en Github" href="https://github.com/{{ site.footer-links.github }}">
                  <i class="fab fa-github fa-2x fa-fw"></i>
                </a>
              </li>
              {% endif %}
              {% if site.footer-links.youtube %}
              <li class="list-inline-item">
                <a title="{{ site.name }} en Youtube" href="https://www.youtube.com/channel/{{ site.footer-links.youtube}}">
                  <i class="fab fa-youtube fa-2x fa-fw"></i>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    
  </body>

</html>
